.card {
	width: 100%;
	max-width: 768;
	margin: 10px 0;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
	height: auto;
}

.bottom {
	padding: 10px;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}