html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 10px 30px;
  border: 1px solid;
}

nav a {
  padding: 0 10px;
}

nav a:not(:last-child) {
  border-right: 1px solid;
}

* {
  box-sizing: border-box;
}
